/* Reset */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 0;
  box-shadow: 0 0 0;
  box-sizing: inherit;
  color: #202020;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #2196f3;
}

.header {
  align-items: center;
  color: white;
  display: flex;
  height: 30vh;
  position: relative;
}

.inner {
  margin: auto auto auto 20px;
  /*text-align: center;*/
}

.title {
  color: black;
  font-weight: 300;
}

.subtitle {
  color: #202020;
  font-weight: 400;
  margin-top: 10px;
}

.summary {
  /*font-style: italic;*/
  line-height: 1.5;
  padding: 40px 20px;
  width: 25%;
}

.work {
  margin: 20px;
  /*text-align: center;*/
}

.workTitle {
  color: #202020;
  font-weight: 400;
  color: black;
  font-weight: 300;
}

.items {
  margin: 40px 0 0;
  width: 30%;
}

.viewer {
  background: #f9f9f9;
  position: fixed;
  width: 70%;
  height: 99%;
  top: 0px;
  right: 0;
}
