/* Base */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 0;
  box-shadow: 0 0 0;
  box-sizing: inherit;
  color: #202020;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  :hover {
    color: #2196f3;
  }
}
