.item {
  cursor: pointer;
  margin: 30px 0 0;
  /*max-width: 280px;*/
  /*opacity: 0.8;*/
  transition: all 0.19s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.item:hover {
  opacity: 1;
  transform: translateY(-6px);
  transition: all 0.1s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.active {
  opacity: 1;
  transform: translateY(-10px);
}

.projectLink {
  text-decoration: none;
}

.projectTitle {
  font-size: 18px;
  font-weight: 400;

}

.projectMeta {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  user-select: none;
}
