.top {
  background: white;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  padding: 20px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.body {
  margin: 10px auto 0;
  max-width: 640px;
}

p {
  line-height: 1.6;
  margin-top: 20px;
}
