.root {
  background: white;
  /*height: 100%;*/
  /*bottom: 0;*/
  /*height: 100%;*/
  /*left: 0;*/
  /*max-height: 100%;
  max-width: 100%;*/
  /*overflow: auto;*/
  /*position: ab;*/
  /*right: 0;*/
  /*top: 0;*/
  /*width: 100%;*/
}

.header {
  margin-top: 60px;
}

.content {
  margin: 60px auto;
  max-width: 640px;
  text-align: center;
}

p {
  line-height: 1.6;
  margin-top: 20px;
}

h3 {
  display: inline-block;
  font-weight: 400;
}

.meta,
.link {
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0 0;
  line-height: 1.6;
}

.link {
  display: inline-block;
  max-width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
